/* Different Colors */
:root { 
    --bg-color: #080808;
    --second-bg-color: white;
    --text-color: azure;
    --main-color: black;
}

/* Main Font */
@font-face {
    font-family: mainFont;
    src: url('chalk-dash-font/ChalkDash-vPYM.ttf');
}

/* Secondary Font */
@font-face {
    font-family: secondaryFont;
    src: url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
}

* {
    font-family: mainFont;
    color: var(--text-color);
}

body {
    background-color: var(--main-color);
    user-select: none;
    margin: 0;
    overflow: hidden;
    animation: grow 3s;
}

@keyframes grow {
    0% {transform: scale(.2) rotate(30deg);}
    100% {transform: scale(1) rotate(0deg);}
}

canvas {
    background: var(--main-color);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
    width: 100%;
}

.pageContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
}

/* First Page */

#gameTitle {
    font-family: secondaryFont;
    letter-spacing: 5px;
    margin-top: 6.5vh;
    font-size: 3rem;
    position: relative; 
}
#gameTitle::before {
    content: '';
    width: 150px;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(84, 255, 204), var(--text-color));
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-115%); 

}
#gameTitle::after {
    content: '';
    width: 150px;
    height: 2px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(84, 255, 204), var(--text-color));
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(12%); 
}

.homeStartContainer {
    width: 100%;
    height: fit-content;
    margin-top: 6.5vh;
}

button {
    border-radius: 10px;
    padding: 4.5vh 1rem 4.5vh 1rem;
    font-family: mainFont;
}

#startButton {
    max-width: 100%;
    font-size: 4rem;
    font-weight: 0;
    border: 1px solid black;
    background: none;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#startButton.active {
    transform: scale(1.8);
    background-color: azure;
}

#startButton:hover {
    transform: scale(1.2) rotate(7deg);
    color: rgb(80, 229, 252);
}

.homeBottomContainer {
    width: 100%;
    height: fit-content;
    margin-top: 5vh;
    color: var(--text-color);
}

#gameName{
    width: 100%;
    margin-top: 2rem;
    color: var(--text-color);
    letter-spacing: 5px;
    font-size: 3rem;
    font-family: secondaryFont;
    position: relative;
}

#gameName::before {
    content: '';
    width: 150px;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(84, 255, 204), var(--text-color));
    position: absolute;
    top: 50%;
    transform: translateY(-100%) translateX(-115%); 
}
#gameName::after {
    content: '';
    width: 150px;
    height: 2px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(84, 255, 204), var(--text-color));
    position: absolute;
    top: 50%;
    transform: translateY(-100%) translateX(12%); 
}

.homeBottomContainer #groupInformation {
    margin-top: 7vh;
    font-size: 1.4rem;
    letter-spacing: 3px;
    color: rgb(79, 172, 67);
}

#by {
    font-size: 1.5rem;
}

.derisHover {
    color: aquamarine;
    font-size: 1.5rem;
    transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.derisHover:hover {
    color: rgb(0, 76, 255);
    font-size: 2rem;
}

.aydenHover {
    color: rgb(127, 131, 255);
    font-size: 1.5rem;
    transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.aydenHover:hover {
    color:crimson;
    font-size: 2rem;
}

.malakaiHover {
    color: rgb(253, 85, 85);
    font-size: 1.5rem;
    transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.malakaiHover:hover {
    color: rgb(100, 255, 80);
    font-size: 2rem;
}

.kaylahHover {
    color: rgb(236, 253, 85);
    font-size: 1.5rem;
    transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.kaylahHover:hover {
    color: rgb(133, 80, 255);
    font-size: 2rem;
}

.willHover {
    color: rgb(48, 162, 40);
    font-size: 1.5rem;
    transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.willHover:hover {
    color: rgb(255, 138, 80);
    font-size: 2rem;
}

/* Second Page */
.introduceJohnContainer {
    font-family: secondaryFont;
    letter-spacing: 5px;
    margin-top: 5rem;
    font-size: 3rem;
    text-align: center;
    position: relative; 
}

#jonText {
    color: rgba(127, 255, 212, 0.47);
}

#introduceJonButton {
    max-width: 80%;
    font-size: 4rem;
    font-weight: 0;
    border: 1px solid black;
    background: none;
    transition: transform 0.1s ease-in-out, color 0.3s ease-in-out, scale .3s ease-in-out;
}

#introduceJonButton:active {
    transform: translateY(10px);
}

#introduceJonButton:hover {
    scale: 1.1;
    color: rgb(103, 219, 87);
}

#typeText {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 2rem;
    font-family: secondaryFont;
}

.jonImage {
    width: 32vh;
    transition: box-shadow 0.3s ease-in-out, scale 0.3s ease-in-out;
}

.jonImage:hover {
    scale: 1.1;
    box-shadow: 0 0 0 10px var(--second-bg-color);
    src: "assets/think_sprite.png";
}

#continueButton {
    margin: auto;
    max-width: 80%;
    font-size: 4rem;
    font-weight: 0;
    border: 1px solid black;
    background: none;
    transition: transform 0.6s ease-out, color 0.3s ease-in-out, scale .3s ease-in-out;
}

#continueButton:active{
    transform: scale(1.8);
}

#continueButton:hover {
    scale: 1.1;
    color: rgb(103, 219, 87);
}

#continueButton:active {
    transition: transform 0.6s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#continueButton:active {
    transform: scale(1.8);
    background-color: azure;
}

/* Third Page */
.pageContent {
    margin-top: 5vh;
    width: 100%;
    position: absolute;
    font-size: 2rem;
    text-align: center;
}

.pageContent .barContainer {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.pageContent .barContainer .ethicsBar {
    background-color: gray;
    transition: width 0.3s ease-in;
    font-size: 10px;
}

.topText {
    width: 80%;
    margin: auto;
    font-size: 4vh;
    color: rgb(75, 189, 217);
}

.buttonContainer {
    margin-top: 2%;
}

#choice1 {
    font-size: .9rem;
    max-width: 25%;
    margin-right: 3%;
    color: #6a83ce;
    transition: transform 0.3s ease-in-out;
}

#choice2 {
    font-size: .9rem;
    max-width: 25%;
    margin-right: 3%;
    color: #c45fa7;
    transition: transform 0.3s ease-in-out;
}

#choice3 {
    font-size: .9rem;
    max-width: 25%;
    color: #4a9c68;
    transition: transform 0.3s ease-in-out;
}

#choice1:hover {
    transform: scale(1.45);
}
#choice2:hover {
    transform: scale(1.45);
}
#choice3:hover {
    transform: scale(1.45);
}

.widthChange {
    width: 80%;
    text-align: center;
    margin: auto;
}

.scenarioText {
    margin: 10px 10% 30px 10%;
    line-height: 2rem;
    max-width: 100%;
    font-family: secondaryFont;
    font-size: 1.4rem;
}

/* End Page */
.content--canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .pageContainer {
      width: 100%;
      height: 100vh;
      position: absolute;
      text-align: center;
      z-index: 10;
  }
  .endContainer {
      display: flex;
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-top: 50vh;
  }
  .end {
      position: relative;
      font-size: 5em; 
      font-weight: bold;
      color: #ffffff; 
      background-color: rgb(1, 1, 1);
      opacity: .5;
      padding: 10px;
      border-radius: 10px;
      transition: opacity 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out;
  }
  .end:hover {
      color: aquamarine;
      opacity: .9;
      transform: scale(1.2);
  }

@media  screen and (max-width: 1024px) {
    .topText {
        font-size: 3vh;
    }
}

@media  screen and (max-width: 768px) {
    .jonImage {
        width: 24vh;
    }
}