/* Different Colors */
:root { 
    --bg-color: #080808;
    --second-bg-color: white;
    --text-color: azure;
    --main-color: black;
}

/* Main Font */
@font-face {
    font-family: mainFont;
    src: url('chalk-dash-font/ChalkDash-vPYM.ttf');
}

/* Secondary Font */
@font-face {
    font-family: secondaryFont;
    src: url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
}

* {
    font-family: mainFont;
    color: var(--text-color);
}

body {
    background-color: var(--main-color);
    user-select: none;
    margin: 0;
    overflow: hidden;
    animation: grow 3s;
}

@keyframes grow {
    0% {transform: scale(.2) rotate(30deg);}
    100% {transform: scale(1) rotate(0deg);}
}

canvas {
    background: var(--main-color);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
    width: 100%;
}

.pageContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
}

#gameTitle {
    font-family: secondaryFont;
    letter-spacing: 5px;
    margin-top: 5rem;
    font-size: 3rem;
    position: relative; /* Add position relative for absolute positioning of pseudo-elements */
}
#gameTitle::before {
    content: '';
    width: 150px;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(84, 255, 204), var(--text-color));
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-115%); /* Vertically center the line */

}
#gameTitle::after {
    content: '';
    width: 150px;
    height: 2px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(84, 255, 204), var(--text-color));
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(12%); /* Vertically center the line */
}

.homeStartContainer {
    width: 100%;
    height: fit-content;
    margin-top: 4rem;
}

button {
    border-radius: 10px;
    padding: 2rem 1rem 2rem 1rem;
    font-family: mainFont;
}

#startButton {
    max-width: 60%;
    font-size: 4rem;
    font-weight: 0;
    border: 1px solid black;
    background: none;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#startButton.active {
    transform: scale(1.8);
    background-color: azure;
}

#startButton:hover {
    transform: scale(1.2) rotate(7deg);
    color: rgb(80, 229, 252);
}

.homeBottomContainer {
    width: 100%;
    height: fit-content;
    margin-top: 4rem;
    color: var(--text-color);
}

#gameName{
    width: 100%;
    margin-top: 2rem;
    color: var(--text-color);
    letter-spacing: 5px;
    font-size: 3rem;
    font-family: secondaryFont;
    position: relative;
}

#gameName::before {
    content: '';
    width: 150px;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(84, 255, 204), var(--text-color));
    position: absolute;
    top: 50%;
    transform: translateY(-100%) translateX(-115%); /* Vertically center the line */

}
#gameName::after {
    content: '';
    width: 150px;
    height: 2px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(84, 255, 204), var(--text-color));
    position: absolute;
    top: 50%;
    transform: translateY(-100%) translateX(12%); /* Vertically center the line */
}

.homeBottomContainer #groupInformation {
    margin-top: 3rem;
    font-size: 1.4rem;
    letter-spacing: 3px;
    color: rgb(79, 172, 67);
}

#by {
    font-size: 1.5rem;
}

.derisHover {
    color: aquamarine;
    font-size: 1.5rem;
    transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.derisHover:hover {
    color: rgb(0, 76, 255);
    font-size: 2rem;
}

.aydenHover {
    color: rgb(127, 131, 255);
    font-size: 1.5rem;
    transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.aydenHover:hover {
    color:crimson;
    font-size: 2rem;
}

.malakaiHover {
    color: rgb(253, 85, 85);
    font-size: 1.5rem;
    transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.malakaiHover:hover {
    color: rgb(100, 255, 80);
    font-size: 2rem;
}

.kaylahHover {
    color: rgb(236, 253, 85);
    font-size: 1.5rem;
    transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.kaylahHover:hover {
    color: rgb(133, 80, 255);
    font-size: 2rem;
}

.willHover {
    color: rgb(48, 162, 40);
    font-size: 1.5rem;
    transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.willHover:hover {
    color: rgb(255, 138, 80);
    font-size: 2rem;
}